<section class="success" id="about">
     <div class="container">
         <div class="row">
             <div class="col-lg-12 text-center">
                 <h2>Sobre</h2>
                 <hr class="star-light">
             </div>
         </div>
         <div class="row">
             <div class="col-lg-8 col-lg-offset-2" style="text-align: justify;">
                <% unless @about.empty? %>
                <%= @about[0].about.html_safe %>
                <% end %>
             </div>
             <div class="col-lg-8 col-lg-offset-2 text-center">
                <%= link_to '/docs/cv-paulo-oliveira.pdf', target: '_blank', class: 'btn btn-lg btn-outline' do %>
                    <i class="fa fa-download"></i> Baixar currículo em pdf
                <% end %>
             </div>
         </div>
     </div>
 </section>