<table>
	<tr>
		<td>Contato de:</td>
		<td><%= @contact.name %></td>
	</tr>
	<tr>
		<td>E-mail:</td>
		<td><%= @contact.email %></td>
	</tr>
	<tr>
		<td>Telefone:</td>
		<td><%= @contact.phone %></td>
	</tr>
	<tr>
		<td>Mensagem:</td>
		<td><%= @contact.message %></td>
	</tr>
</table>